[build]
dockerfilePath = "production/Dockerfile.prod"
watchPatterns = ["production/**"]

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 5
